@font-face {
  font-family: 'ProductSans';
  src: local('ProductSans'), url(./assets/fonts/ProductSans-Regular.ttf) format('truetype');
}

body {
  font-family: 'ProductSans', 'Lato', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
